*~
__session
.__vimsession
TAGS
gitv.nvim/lua/telescope/_extensions/.__vimsession
taesoo_vimrc/.__vimsession
taesoo_vimrc/.tl.swp
taesoo_vimrc/LICENSE
taesoo_vimrc/README.md
taesoo_vimrc/win32yank-x64.zip
windows_git_bash/.__vimsession
windows_powershell/.__vimsession
